.require_box_container{
    background: #3e3eff;
    padding: 0% 8px;
    display: inline-block;
    width: 40px;
    height: 21px;
    p{  
        color: white;
        font-size: 13px;
        font-weight: 300;
        transform: translateY(-1px);
    }
}