.pastel_blue_box_container{
    height: 20px;
    min-width: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #a8acff;
    p{
        font-size: 16px;
        font-weight: 500;
        color: white;
    }
}